<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
  </head>
  <body>
    Welcome, authenticated client
    <form name="input" action="/post_basic_auth" method="post">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
