<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <style>
      .foo { color: red; }
      .bar { font-weight: bold; }
    </style>
    <span id="test_node" class="foo bar">Test</span>
  </body>
</html>
