<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <script type="text/javascript">
      window.onload = function() {
        console.log("Hello world");
      }
    </script>
  </head>
  <body></body>
</html>
