<html>
  <head>
    <title>custom_size</title>
    <style>
      html {
        width: 100%;
        height: 100%;
      }

      .spacer {
        width:  1272px; /* using scrollWidth  adds 8px */
        height: 1008px; /* using scrollHeight adds 16px */
      }
    </style>
  </head>
  <body>
    <div class="spacer"></div>
  </body>
</html>
