<!DOCTYPE html>
<html>
  <head>
    <title>This is the title of frame two</title>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div id="divInFrameTwo">This is the text of divInFrameTwo</div>
  </body>
</html>
