<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <iframe name="frame"></iframe>
    <iframe></iframe>
    <iframe id="id_frame"></iframe>
    <script type="text/javascript">
      document.getElementsByName("frame")[0].src = "http://localhost:" + location.port + "/slow";
      document.querySelector("iframe:not([name]):not([id])").src = "http://localhost:" + location.port + "/headers";
      document.querySelector("#id_frame").src = "http://localhost:" + location.port + "/get_cookie";
    </script>
  </body>
</html>
