<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
    <style type="text/css">
      body {
        background: yellow;
      }
    </style>
  </head>
  <body>
    <iframe src="/click_test" name="inner_frame"></iframe>
  </body>
</html>
