<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <svg>
      <g>
        <text>
          <tspan>svg foo</tspan>
        </text>
      </g>
    </svg>
  </body>
</html>
