<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <table>
      <tr>
        <td style="border: 1px solid black">
          <a href="/">Link</a>
        </td>
      </tr>
    </table>
  </body>
</html>
