<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:,">
  </head>
  <body>
    We are loading some wanted action here.
    <iframe src="/wanted" name="framename"></iframe>
    <iframe src="/unwanted" name="unwantedframe"></iframe>
    <img src="/wanted" style="height:100px;width:100px;" />
    <script src="/wanted" />
  </body>
</html>
