<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>ferrum with_js</title>
    <link rel="icon" href="data:,">
    <script src="/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <h1>Here</h1>
    <script>
      $.ajax("http://localhost:12345", {
        error: function(){$("h1").text("Error");}
      });
    </script>
  </body>
</html>
