<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <script src="/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="icon" href="data:,">
  </head>
  <body>
    <h1>Slow AJAX</h1>
    <script>
      $.ajax("/really_slow");
    </script>
  </body>
</html>
