<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>ferrum with_user_js</title>
  </head>
  <body>
     <dl>
      <dt>languages</dt>
      <dd id="browser-languages"></dd>
    </dl>
    <script>
      document.getElementById('browser-languages').innerHTML = navigator.languages;
    </script>
  </body>
</html>
