<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>ferrum with_js</title>
    <script src="/ferrum/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <h1>Here</h1>
    <script>
      let req = $.ajax("/ferrum/really_slow");
      setTimeout(() => {
        req.abort();
        $("h1").text("Canceled");
      }, 500);
    </script>
  </body>
</html>
