name: Linter
on: [push]

jobs:
   linters:
     name: Linters
     strategy:
       fail-fast: false
       matrix:
         ruby: [ 2.7, "3.0" ]
     runs-on: ubuntu-latest
     steps:
       - name: Checkout code
         uses: actions/checkout@v3

       - name: Setup Ruby
         uses: ruby/setup-ruby@v1
         with:
           ruby-version: ${{ matrix.ruby }}
           bundler-cache: true
       - name: Run linters
         run: |
           bundle exec rubocop --parallel
