name: Tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, "3.0", 3.1, 3.2, 3.3, "jruby-9.4"]
    runs-on: ubuntu-latest
    env:
      FERRUM_PROCESS_TIMEOUT: 25
      FERRUM_DEFAULT_TIMEOUT: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable

      - name: Run tests
        run: |
          mkdir -p /tmp/ferrum
          bundle exec rake

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: footprints
          path: /tmp/ferrum/
